<h1> Hi</h1>
<form action="http://localhost:3000/create_zodiac">
  <div>
    <label>Sign</label>
    <input type="text" name="symbol">
  </div>
  <div>
    <label>Creature</label>
    <input type="text" name="animal">
  </div>
  <div>
    <label> Fortune</label>
    <textarea name="horoscope"></textarea>
  </div>
  <button>Submit
  </button>
</form>
